WindowsFormsProject/Web References/WSPersonas/WebServicePersonas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar_Personas">
        <s:complexType />
      </s:element>
      <s:element name="Listar_PersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Listar_PersonasResult" type="tns:ArrayOfCls_Entidad_Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCls_Entidad_Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cls_Entidad_Persona" nillable="true" type="tns:Cls_Entidad_Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cls_Entidad_Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_completo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha_nacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPersonasById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prmId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPersonasByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPersonasByIdResult" type="tns:Cls_Entidad_Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar_Personas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmPersona" type="tns:Cls_Entidad_Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar_PersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insertar_PersonasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Personas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmPersona" type="tns:Cls_Entidad_Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_PersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_PersonasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Personas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prmId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_PersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_PersonasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Listar_PersonasSoapIn">
    <wsdl:part name="parameters" element="tns:Listar_Personas" />
  </wsdl:message>
  <wsdl:message name="Listar_PersonasSoapOut">
    <wsdl:part name="parameters" element="tns:Listar_PersonasResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonasByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getPersonasById" />
  </wsdl:message>
  <wsdl:message name="getPersonasByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getPersonasByIdResponse" />
  </wsdl:message>
  <wsdl:message name="Insertar_PersonasSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar_Personas" />
  </wsdl:message>
  <wsdl:message name="Insertar_PersonasSoapOut">
    <wsdl:part name="parameters" element="tns:Insertar_PersonasResponse" />
  </wsdl:message>
  <wsdl:message name="Update_PersonasSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Personas" />
  </wsdl:message>
  <wsdl:message name="Update_PersonasSoapOut">
    <wsdl:part name="parameters" element="tns:Update_PersonasResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_PersonasSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Personas" />
  </wsdl:message>
  <wsdl:message name="Delete_PersonasSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_PersonasResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePersonasSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar_Personas">
      <wsdl:input message="tns:Listar_PersonasSoapIn" />
      <wsdl:output message="tns:Listar_PersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonasById">
      <wsdl:input message="tns:getPersonasByIdSoapIn" />
      <wsdl:output message="tns:getPersonasByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_Personas">
      <wsdl:input message="tns:Insertar_PersonasSoapIn" />
      <wsdl:output message="tns:Insertar_PersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Personas">
      <wsdl:input message="tns:Update_PersonasSoapIn" />
      <wsdl:output message="tns:Update_PersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Personas">
      <wsdl:input message="tns:Delete_PersonasSoapIn" />
      <wsdl:output message="tns:Delete_PersonasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePersonasSoap" type="tns:WebServicePersonasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Personas">
      <soap:operation soapAction="http://tempuri.org/Listar_Personas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonasById">
      <soap:operation soapAction="http://tempuri.org/getPersonasById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Personas">
      <soap:operation soapAction="http://tempuri.org/Insertar_Personas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Personas">
      <soap:operation soapAction="http://tempuri.org/Update_Personas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Personas">
      <soap:operation soapAction="http://tempuri.org/Delete_Personas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePersonasSoap12" type="tns:WebServicePersonasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar_Personas">
      <soap12:operation soapAction="http://tempuri.org/Listar_Personas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonasById">
      <soap12:operation soapAction="http://tempuri.org/getPersonasById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_Personas">
      <soap12:operation soapAction="http://tempuri.org/Insertar_Personas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Personas">
      <soap12:operation soapAction="http://tempuri.org/Update_Personas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Personas">
      <soap12:operation soapAction="http://tempuri.org/Delete_Personas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePersonas">
    <wsdl:port name="WebServicePersonasSoap" binding="tns:WebServicePersonasSoap">
      <soap:address location="http://localhost:14370/WebServicePersonas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePersonasSoap12" binding="tns:WebServicePersonasSoap12">
      <soap12:address location="http://localhost:14370/WebServicePersonas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>